$primary-col: #02006d;
$secondary-col: #fdc436;
$red-col: rgb(186, 22, 22);
$light-col: #fefcfb;
$dark-col: #1c1c1c;
$bg-col: #1c1c1c9c;
$desc-col: #707070;
$gray-col: #c8c8c8;
$primary-font: 'Bebas Neue';
$secondary-font: 'Poppins', sans-serif;
$p-hover: #02006d80;
$s-hover: #fdc53680;
$bg-overlay: #1a1a1ac7;